<label>{{question.QuestionText}}</label>
<div ng-if="question.Type == 'radio'" class="form-group">
    <div ng-repeat="option in question.Options" class="radio radio-danger">
        <input type="radio" name="radio" id="radio_{{$index}}" ng-model="question.SelectedOption" ng-value="option.Value">
        <label for="radio_{{$index}}">
            {{option.Text}}
        </label>
    </div>
</div>
<div ng-if="question.Type == 'text'" class="form-group">
    <input type="text" class="form-control" name="name" ng-model="question.Text">
</div>
<div ng-if="question.Type == 'checkbox'" class="form-group">
    <div ng-repeat="option in question.Options" class="checkbox checkbox-danger">
        <input id="chk_{{$index}}" type="checkbox" ng-model="option.IsSelected">
        <label for="chk_{{$index}}">
            {{option.Text}}
        </label>
    </div>
    <!--<div ng-repeat="option in question.Options" class="radio">
        <label>
            <input type="checkbox" id="chk_{{$index}}" ng-model="option.IsSelected">
            {{option.Text}}
        </label>
    </div>-->
</div>

<div class="form-group row" ng-if="!(question.QuestionId <= totalQuestions.length && question.QuestionId != 1)">
    <div class="col-xs-6 col-xs-offset-3">
        <a ng-if="question.QuestionId < totalQuestions.length" ng-click="submitAnswer()" class="btn btn-block btn-info">
            Next <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
        <a ng-if="question.QuestionId == totalQuestions.length" ng-click="submitAnswer()" class="btn btn-block btn-danger">Submit</a>
        <a ng-if="question.QuestionId <= totalQuestions.length && question.QuestionId != 1" ng-click="previousQuestion()" class="btn btn-block btn-info">
            <span class="glyphicon glyphicon-circle-arrow-left"></span> Previous
        </a>
    </div>
</div>
<div class="form-group row" ng-if="question.QuestionId <= totalQuestions.length && question.QuestionId != 1">
    <div class="col-lg-6">
        <a ng-click="previousQuestion()" class="btn btn-block btn-info">
            <span class="glyphicon glyphicon-circle-arrow-left"></span> Previous
        </a>
    </div>
    <div class="col-lg-6">
        <a ng-if="question.QuestionId < totalQuestions.length" ng-click="submitAnswer()" class="btn btn-block btn-info">
            Next <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
        <a ng-if="question.QuestionId == totalQuestions.length" ng-click="submitAnswer()" class="btn btn-block btn-danger">Submit</a>
    </div>
</div>